[submodule "services/shared/datalens"]
	path = services/shared/datalens
	url = https://github.com/datalens-tech/datalens.git
[submodule "services/shared/airbyte"]
	path = services/shared/airbyte
	url = https://github.com/airbytehq/airbyte.git
